*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}

body{
  color:var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0 ;
  transition: 0.5s ease;
}

