.gradient-background {
	background: linear-gradient(300deg, #1D5D9B, #75C2F6, #d4b85c);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
.profile-img{
	height: 200px;
	border-radius: 50%;
}
.lead {
    font-size: 1.75rem;
    font-weight: 300;
	color: white;
}
.circle{
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: white;
	
}

